        .skills-banner {
    /* background-image: url("../../../../images/skill8.jpg"),
        linear-gradient(rgba(10, 10, 10, 0.281), rgb(20, 20, 20)); */
        background-color: white;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

        
        .skill-container{
            background-color: rgba(255, 255, 255, 0.288);
            /* width: 500px; */
            padding: 20px; 
            box-sizing: border-box;
        }

        .skill-container li{
            list-style-type: none;
            margin: 50px 0;
            font-weight: bolder;
            text-transform: uppercase;
            position: relative;
        }

        .skill-container li::before{

            content: '';
            position: absolute;
            top: calc(100% + 5px);
            left: 0;


            background-color: rgb(170,167,173);
            width: 100%;
            height: 25px;
            border-radius: 1000px;
        }


        .skill-container li::after{

            content: '';
            position: absolute;
            top: calc(100% + 5px);
            left: 0;


            background-color: rgb(249,249,250);
            width: 0;
            height: 25px;
            border-radius: 1000px;


            animation-duration: 3s;
            animation-timing-function: ease;
            animation-delay: 1s;
            /* animation-iteration-count: 3; */
            /* animation-direction: forward; */
            animation-fill-mode: forwards;
        }

        .skill-container li.html::after{
            animation-name: html;
        }

        @keyframes html{
            to{
                width: 90%;
                background-color: orange;
            }
        }

        .skill-container li.css::after{
            animation-name: css;
        }

        @keyframes css{
            to{
                width: 80%;
                background-color: orangered;
            }
        }