.contact-btn{
    background-color: black;
    color: white;
    border: 0px;
    /* color: rgb(10, 245, 151); */
    font-size: 20px;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: 10px;
}
.contact-bg{
    background-color: #003B38;
    color: rgb(10, 245, 151);
}
.contact-btn:hover{
     background-color: rgb(10, 245, 151);
    color: black;
}