.contact-btn{
    background-color: #013030;
    color: rgb(10, 245, 151);
    border: 0px;
    /* color: rgb(10, 245, 151); */
    font-size: 20px;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: 10px;
}
.contact-bg{
    background-color: #0c7772;
    color: rgb(10, 245, 151);
}
.contact-btn:hover{
     background-color: wheat;
    color: black;
}