.card-text{
    background-color: white;
    color: rgb(1, 48, 48);
    
}
.card-button{
    background-color: #013030;
    color: rgb(10, 245, 151);
    margin-left: 10px;
    border: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.project-bg {
    /* background-image: url("../../../../images/skill7.jpg"),
        linear-gradient(rgba(19, 18, 18, 0.281), rgb(12, 12, 12)); */
        background-color: #013030;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(10, 245, 151);
   
}
.card-image img{
    object-fit: cover;
}